body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	margin: auto;
}

#container{
	align-content: center;
	left: 5%;
	top: 15%
}
 h1 {
	color: #FAAC58;
	font-size:20px;
	display: none;
}

 h2{
	color: #FAAC58;
	font-size: 0.9em;
}
 #p1{
	color: #FAAC58;
	font-size: 0.9em;
}
 #p2{
	font-size: 0.8em;
	text-align: right;
	word-break: normal;
	shape-margin: 50px;
}
 #p3{
	font-size: 0.8em;
	text-align: right;
	word-break: normal;
	margin-left: 112px;
	shape-margin: 50px;
}
/* #p3{
	font-size: 1em;
}
*/
 a:link, a:visited {
	text-decoration: none 
}
 a:hover {
	text-decoration: underline;
	color: #D1AB64 
}
 a:active {
	text-decoration: none 
}
 th, td {
	padding: 15px;
}
 td {
	text-align: left;
}
 table {
	border-spacing: 5px;
}
 caption {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}
 .img-w3c{
	border:0;
	width:88px;
	height:31px 
}
 #contato{
 	align-content: center;
 }
 #navbar {
 	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #421908;
    margin-top: 12%;
 }
 #menu {
 	float: left;
 	display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    margin-left: 10%;

 }
 #logo{
 	position: absolute;
	top: 2%;
	left: 45%;
 }
 #banner{
 	width: 100%;
	top: 55%;
 }
 #slogan{
 	text-align: center;
 	font-size: 45px;
 	color: #421908;
 }
 #escolha{
 	font-size: 30px;
 	color: #421908;
 	font-family: 'Arimo', sans-serif;
 	font-style: italic;
 }
 #encontrar{
 	font-size: 30px;
 	color: #421908;
 	font-family: 'Arimo', sans-serif;
 	font-style: italic;
 	margin-left: 550px;
 }
#cafe{
	display: block;
	margin-left: 10px;

}
#mapa{
	display: block;
	margin-right: 10px;
}
#alinhar{
	display: flex;
}
#title{
	display: flex;

}
#rodape{
	font-size: 0.8em;
	margin-top: 50px;
}
#cardapio{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #421908;
    margin-top: 12%;
    float: left;
 	display: block;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
    margin-left: 30%;
    color: white;
    width: 100%;
    align-items: center;
}
#p4{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #421908;
 	display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: white;
    width: 98%;
    align-items: center;
}
